.headline {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.text {
    margin-top: 0.8em;
    background-color:  rgba(30, 41, 59, 0.8);
    padding: 2em;
    border-radius: 15px;
    box-shadow: inset 0 1px 0 0 #ffffff0d;
}

.text>p {
    color:  rgb(255, 255, 255);
    text-align: justify;
}

.gallery {
    display: flex;
}

.left {
    width: 50%;
}

.detailsWrapper {
    margin: auto;
    width: 80%;
}

.details {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.right {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photos {
    width: 40vw;
    height: 40vw;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.photo {
    position: absolute;
    width: 100%;
    height: 100%;
}

.photo>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.proj_btn {
    margin-top: 1rem;
    border-radius: 2rem;
    border: none;
    padding: .5em 1.5em;
    width: fit-content;
    background-color: blue;
    color: white;
    font-size: 15px;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    align-items: center;
}

.proj_btn span {
    margin: 0 0 .2rem .3rem;
    font-size: 18px;
    font-weight: 900;
}

.proj_btn:hover {
    cursor: pointer;
    background-color: white;
    color: blue;
}