@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@500;600&family=Montserrat:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #0c0751 40%, #1a237e 100%);
    color: #ffffff;
    height: 100vh;
}

.projects_section {
    padding: 1em;
    background-color: rgb(12, 7, 81);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
}

.title {
    text-align: center;
    color: #fff;
    padding: 2.5em 0 1.5em;
    font-weight: 600;
    font-size: 50px;
    animation: drop-in 1s ease 200ms backwards;
}

.projectCategorySection {
    text-align: center;
    margin-bottom: 5em;
}

.categoryTitle {
    margin-bottom: 1.5em;
    font-weight: 600;
    font-size: 28px;
    color: #02a2ff;
}

.projectGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
}

.projectTile {
    background: rgba(124, 124, 155, 0.3);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.051);
    backdrop-filter: blur(5.5px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;
}

.projectTile:hover {
    background-color: rgba(125, 122, 122, 0.486);
    transform: perspective(1000px) rotateX(-10deg) translateY(-10px);
}

.projectImg {
    width: 100%;
    border-radius: 15px;
}

.projectName,
.projectCategory {
    margin-top: 10px;
    color: #ffffff;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    background-color: #17191a;
}

::-webkit-scrollbar-thumb {
    background-color: #2341f0;
    border-radius: 6px;
}

@keyframes drop-in {
    from { opacity: 0; transform: translateY(-100px); }
    to { opacity: 1; transform: translate(0px); }
}

@media (max-width: 768px) {
    .title {
        font-size: 40px;
    }

    .categoryTitle {
        font-size: 24px;
    }

    .projectTile {
        padding: 70px;
    }
}