.gallery {
    display: flex;
}

.left {
    width: 50%;
}

.detailsWrapper {
    margin: auto;
    width: 80%;
}

.details {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headline {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.text {
    margin-top: 0.8em;
    padding: 2em;
    background: rgba(124, 124, 155, 0.3);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.051);
    animation: slide-in 1200ms ease 500ms backwards;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.text>p {
    color: rgb(255, 255, 255);
    text-align: justify;
}

.right {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photos {
    width: 40vw;
    height: 40vw;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.photo {
    position: absolute;
    width: 100%;
    height: 100%;
}

.photo>img {
    max-width: 100%;
    height: 100%;
    border-radius: 20px;
}

.proj_btn {
    margin-top: 1rem;
    border-radius: 2rem;
    border: none;
    padding: .5em 1.5em;
    width: fit-content;
    background-color: rgb(0, 0, 255);
    color: rgb(255, 255, 255);
    font-size: 15px;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    align-items: center;
}

.proj_btn span {
    margin: 0 0 .2rem .3rem;
    font-size: 18px;
    font-weight: 900;
}

.proj_btn:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 255);
}

@media (max-width:350px) {
    .project_section h2 {
        font-size: 22px;
    }

    .gallery {
        flex-direction: column-reverse;
    }

    .left {
        width: 100%;
    }

    .right{
        display: none;
    }

    .detailsWrapper {
        width: 100%;
        padding: 0 1em 2em;
    }

    .details {
        justify-content: unset;
        margin-top: 1rem;
        height: 100%;
    }

    .headline {
        font-size: 19px;
    }

    .text{
        padding: 1em;
        margin-bottom:1rem;
    }

    .text p {
        font-size: 13px;
    }

    .proj_btn {
        font-size: 13px;
        margin: 1rem auto 0;
    }

    .proj_btn span {
        font-size: 13px;
        margin: 0 0 .1rem .2rem;
    }
}