.card {
  position: relative;
  width: 300px;
  height: 400px;
  background: linear-gradient(#2196f3, #0b95df 30%, #0b5f86 30%, #032a4a);
  margin: 10px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 990;
  transform-origin: top;
}

.card:hover .imgBx {
  transform: translateY(30px) scale(0.5);
}

.imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30px;
  transform: translateY(100%);
  transition: 0.5s;
}

.card:hover .content {
  transform: translateY(0);
}

.details h2 {
  color: #fff;
  font-size: 1.5em;
  font-weight: 500;
}

.details h2 span {
  font-size: 0.8em;
  font-weight: 400;
  color: #03a9f4;
}

.social_icons {
  display: flex;
  margin-top: 5px;
}

.social_icons li {
  list-style: none;
  margin: 4px;
}

.social_icons li a {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.5em;
  color: #fff;
  transition: 0.5s;
}

.social_icons li a:hover {
  transform: rotate(360deg);
  background: #03a9f4;
}
