@media (min-width:1450px) {
    .home_container{

    }

    .bg{

    }

    .container {
        max-width: 1450px
    }
}

@media (min-width:1900px) {
    .container {
        max-width: 1900px
    }
}

@media (max-width:1050px) {
    .container {
        max-width: 1050px
    }
}

@media (max-width:750px) {
    .container {
        max-width: 750px
    }

    .ctn-preloader .animation-preloader .fadeInOut {
        height: 8em;
        width: 8em;
    }

    .ctn-preloader .animation-preloader .txt-loading {
        font: bold 3.5em 'Montserrat', sans-serif;
    }
}

@media (max-width:450px){

}

@media (max-width:350px){
    .title{
        width: 100%;
        font-size: 20px;
    }
}