@media (min-width:1900px) {
    .container {
        max-width: 1900px
    }

    .section{
        padding: 0 1em;
    }

    .title{
        width: 100%;
        font-size: 40px;
        margin-top: 2rem;
        text-align: center;
    }
}

@media (max-width:1280px){
    .title{
        width: 100%;
        font-size: 38px;
        margin-top: 1rem;
        text-align: center;
    }
}

@media (max-width:1050px){
    .container {
        max-width: 1050px
    }

    .section{
        padding: 0 1em;
    }

    .title{
        width: 100%;
        font-size: 28px;
        margin-top: 1rem;
        text-align: center;
    }

    .ctn-preloader .animation-preloader .fadeInOut {
        height: 8em;
        width: 8em;
    }

    .animation-preloader video{
        max-width: 1050px;
        height: auto;
    }

    .ctn-preloader .animation-preloader .txt-loading {
        font: bold 3.5em 'Montserrat', sans-serif;
    }
}

@media (max-width:750px) {
    .container {
        max-width: 750px
    }

    .section{
        padding: 0 1em;
    }

    .title{
        width: 100%;
        font-size: 28px;
        margin-top: 1rem;
        text-align: center;
    }

    .animation-preloader video{
        max-width: 1050px;
        height: auto;
    }

    .ctn-preloader .animation-preloader .fadeInOut {
        height: 8em;
        width: 8em;
    }

    .ctn-preloader .animation-preloader .txt-loading {
        font: bold 3.5em 'Montserrat', sans-serif;
    }
}

@media (max-width:450px){
    .section{
        padding: 0 1em;
    }

    .title{
        width: 100%;
        font-size: 22px;
        margin-top: 2rem;
        text-align: center;
    }

    .animation-preloader video{
        max-width: 1050px;
        height: auto;
    }

}

@media (max-width:350px){
    .section{
        padding: 0 1em;
    }

    .title{
        width: 100%;
        font-size: 20px;
        margin-top: 2rem;
        text-align: center;
    }

    .animation-preloader video{
        max-width: 1050px;
        height: auto;
    }

}