@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@500;600&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,600;0,700;1,600;1,700&family=Poppins:wght@300;400;600;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background: rgb(12, 7, 86);
    height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    object-fit: cover;
}

.active {
    color: rgb(2, 162, 255);
}

.section {
    padding: 0 3em;
}

.title {
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 2.5em;
    font-weight: 600;
    font-size: 50px;
    animation: drop-in 1s ease 200ms backwards;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes drop-in {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translate(0px);
    }
}

/* PRELOADER */
.ctn-preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 900;
    cursor: none;
}

.ctn-preloader .animation-preloader {
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.ctn-preloader .loader-section {
    height: 100%;
    position: fixed;
    top: 0;
    width: calc(50% + 1px);
}

.loaded .animation-preloader {
    opacity: 0;
    transition: 1s ease-out;
}

/* CUSTOM-SCROLLBAR */

::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(23, 25, 26);
    border: .5px solid rgb(87, 89, 90);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(35, 65, 240, 1);
    border-radius: 6px;
}
