 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,600;0,700;0,800;1,600;1,700;1,800&display=swap');

 /* NAV-SECTION */

 .navbar {
     display: flex;
     justify-content: space-between;
     padding: 0 1.5em;
 }

 .nav-logo {
     width: 6em;
 }

 .nav-container {
     display: flex;
     align-items: center;
     justify-content: flex-end;
     width: 100%;
 }

 .nav-li {
     color: rgb(255, 255, 255);
     font-size: 15px;
     margin: 0 3rem;
     display: inline-block;
     font-weight: var(--fw-light);
 }

 .schedule-btn {
     margin: 0 2rem 0 4rem;
     padding: .8em;
     background-color: var(--primary-400);
     border: none;
     color: rgb(0, 0, 0);
     font-weight: var(--fw-bolder);
     font-size: 15px;
 }

 .schedule-btn:hover {
     cursor: pointer;
     border: 2px solid var(--primary-600);
     background-color: rgb(0, 0, 0);
     color: var(--primary-400);
 }

 .schedule-btn:active {
     transform: translateY(2px);
 }

 .nav_blur {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 6rem;
     background-color: rgba(87, 89, 90, 0.5);
     backdrop-filter: blur(5px);
     animation: stickynav_animation 1s ease-in-out;
     z-index: 1;
 }

 /* .nav_blur ~ .hero-section{
    margin-top: 5rem;
} */

 /* HERO-SECTION */

 .hero-content {
     display: flex;
     flex-direction: column;
     height: 90vh;
     gap: 4rem;
     padding: 7em 2em 0;
 }

 .hero-text-1 {
     display: flex;
     flex-direction: column;
     width: 50vw;
     color: rgb(255, 255, 255);
     font-family: var(--ff-secondary);
     font-weight: var(--fw-light);
     line-height: 5em;
 }

 .hero-text-1 span {
     font-size: 80px;
     font-family: var(--ff-secondary);
 }

 .hero-text-1>p {
     font-size: 40px;
     font-family: var(--ff-secondary);
 }

 .hero-text-1 .mg-space {
     margin-left: 15rem;
 }

 .explore-btn {
     border: 2px solid var(--primary-600);
     background-color: rgb(0, 0, 0);
     color: var(--primary-400);
     padding: 1em 2em;
     font-size: 14px;
     align-self: flex-start;
     font-weight: bold;
     display: flex;
     align-items: center;
     gap: .5rem;
 }

 .explore-btn>img {
     color: rgb(255, 255, 255);
     width: 1rem;
 }

 .explore-btn:hover {
     cursor: pointer;
 }

 .explore-btn:active {
     transform: translateY(2px);
 }

 .hero-text-2 {
     color: rgb(255, 255, 255);
     width: 24%;
     font-weight: var(--fw-light);
 }

 /* HAMBURGER MENU*/

 .hamburger-container {
     display: none;
 }

 .hamburger {
     position: fixed;
     top: 0;
     right: 0;
     z-index: 110;
     transform: translate(100%, 0%);
     color: rgb(255, 255, 255);
     font-weight: var(--fw-light);
     height: 100vh;
     width: 85vw;
     background-color: var(--neutral-700);
     background-image: url();
     background-size: cover;
     background-blend-mode: hard-light;
     box-shadow: -4px 0px 10px var(--neutral-900);
     transition: all 500ms;
 }

 .hamburger_nav_list {
     flex-direction: column;
     margin: 3rem;
     gap: 2rem;
 }

 .ham_transition {
     transform: translateX(0%);
 }

 .hamburger_drop_shadow {
     position: fixed;
     height: 100%;
     width: 100%;
     background-color: rgba(186, 32, 32, 0.3);
     top: 0;
     left: 0;
     text-align: end;
     backdrop-filter: blur(3px);
     z-index: 90;
 }

 .hamburger_drop_shadow button {
     background-color: transparent;
     outline: none;
     border: none;
     height: fit-content;
     width: fit-content;
     margin: 1rem 2rem;
     z-index: 1000;
     position: absolute;
     top: 0;
     right: 0;
 }

 .hamburger_nav_list+button {
     position: static;
     top: 0%;
     background-color: transparent;
     right: 4%;
     outline: none;
     border: none;
 }

 .hamburger_nav_list+button i {
     font-size: 6vh;
     color: rgb(255, 255, 255);
 }

 /* MODAL-SECTION */

 .modal_hidden {
     opacity: 0;
     visibility: visible;
     z-index: 1;
 }

 .overlay {
     position: fixed;
     height: 100vh;
     width: 100vw;
     background-color: rgba(0, 0, 0, 0.5);
     z-index: 50;
     top: 0;
     left: 0;
     backdrop-filter: blur(3px);
     transition: var(--transition-1);
 }

 .close_modal_btn {
     color: white;
     font-size: 50px;
     font-weight: var(--fw-bolder);
     position: absolute;
     right: 8%;
     top: 7%;
     cursor: pointer;
 }

 .modal_container {
     background-image: url();
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     width: 70vw;
     height: 70vh;
     border-radius: 15px;
     justify-content: space-between;
     margin: auto;
     padding: 1em;
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     z-index: 100;
     transition: var(--transition-1);
 }

 .modal_title {
     width: 50%;
     color: white;
 }

 .modal_title>h2 {
     font-size: 30px;
 }

 .modal_title>p {
     font-size: 20px;
     font-weight: var(--fw-light);
 }

 .details {
     border: 3px solid white;
     border-radius: 5px;
     padding: 2em;
     display: flex;

     -direction: column;
     font-weight: var(--fw-light);
     gap: 2rem;
 }

 .details_content {
     display: flex;
     align-items: center;
     gap: 1rem;
 }

 .details_content label {
     width: 6rem;
     color: rgb(117, 23, 23);
     font-size: 17px;
 }

 .details_content input,
 .details_content select {
     padding: .4em .5em;
     width: 12rem;
 }

 .modal_btn {
     padding: 1em;
     width: 70%;
     margin: auto;
     cursor: pointer;
     letter-spacing: 3px;
     background-color: var(--primary-600);
     font-weight: var(--fw-normal);
     border: none;
     box-shadow: 0 5px 10px rgba(36, 35, 35, 0.8);
 }

 .modal_btn:hover {
     background-color: rgb(0, 0, 0);
     color: var(--primary-600);
 }

 .modal_btn:active {
     transform: translateY(2px);
 }

 /* WELCOME-SECTION */

 .welcome-section {
     /* margin-top: 2rem; */
     flex-direction: column;
 }

 .wlc-container {
     display: flex;
     gap: 1rem;
     height: min-content;
     width: 100%;
     padding: 4em 4em 0;
 }

 .left-fixed {
     position: sticky;
     top: 3%;
     height: 80vh;
     width: 50%;
     padding: 2em;
 }

 .wlc-left-container {
     color: rgb(255, 255, 255);
     background-image: url("");
     background-position: center;
     background-size: cover;
     background-color: var(--neutral-700);
     background-blend-mode: hard-light;
     text-align: center;
     border-radius: 30px;
     font-size: x-large;
     font-weight: var(--fw-light);
     letter-spacing: 3px;
     text-transform: uppercase;
     transition: var(--transition-1);
 }

 .wlc-right-container {
     width: 50%;
     align-self: flex-start;
 }

 .welcome-card {
     position: sticky;
     top: -10%;
     width: 100%;
     padding: 1.5em 3em 3em;
     background: linear-gradient(rgb(49, 48, 48), rgb(30, 30, 31));
     border-radius: 30px;
     margin-bottom: 1rem;
 }

 .wlc-icon {
     width: 5rem;
     height: 5rem;
     margin: 0 auto 1rem;
     border: 5px solid var(--primary-600);
     border-radius: 50%;
     padding: 0.5em;
 }

 .welcome-content {
     display: flex;
     flex-direction: column;
     font-weight: var(--fw-light);
     gap: 2rem;
     text-align: center;
     padding: 2em;
 }

 .welcome-content p {
     line-height: 1.4;
     letter-spacing: 1px;
     color: rgb(255, 255, 255);
 }

 /* DESTINATION-SECTION */

 .grid-container {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(3, 1fr);
     grid-gap: 1rem;
     padding: 2em;
 }

 .grid-container span {
     color: var(--primary-200);
     font-size: 22px;
     display: block;
 }

 .grid-container p {
     font-size: 42px;
     font-weight: bold;
 }

 .destination-item-1 {
     background-image: url();
     grid-column: span 2;
 }

 .destination-item-2 {
     background-image: url();
     grid-row: span 2;
 }

 .destination-item-3 {
     background-image: url();
     grid-row: span 2;
     background-position: top;
 }

 .destination-item-4 {
     background-image: url();
     grid-column: span 1;
 }

 .destination-item-5 {
     background-image: url();
     grid-column: span 2;
 }

 .destination-item:hover {
     cursor: pointer;
     background-position: bottom;
 }

 /* PRICE-SECTION */

 .price-section>.title {
     width: 70%;
 }

 .price-container {
     padding-top: 3em;
     display: flex;
     justify-content: center;
     gap: 5rem;
 }


 .price-content-1 .card-title {
     background-image: url();
 }

 .price-content-2 .card-title {
     background-image: url();
 }

 .price-content-3 .card-title {
     background-image: url();
 }

 .price-content-2 {
     position: relative;
     overflow: hidden;
 }

 .price-content-2>.flip-card {
     background: linear-gradient(to right, rgb(54, 58, 58), rgb(39, 40, 40));
     border: 3px solid var(--primary-400);
 }

 .price-content-2 .flex_li {
     color: rgb(255, 255, 255);
     font-weight: 500;
 }

 .flip-card {
     width: inherit;
     height: inherit;
     position: relative;
     transform-style: preserve-3d;
     transition: transform 1.5s;
     background-color: var(--primary-200);
     border-top-right-radius: 20px;
     border-bottom-left-radius: 20px;
 }

 .price-content:hover .flip-card,
 .price-content:focus-within .flip-card {
     transform: rotateY(180deg);
 }

 .card-front,
 .card-back {
     backface-visibility: hidden;
     overflow: hidden;
 }

 .card-front {
     transform: rotateY(0deg);
 }

 .card-back {
     transform: rotateY(180deg);
     /* background-color: ; */
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     border-radius: 18px 0 18px 0;
 }

 .card-back>.price-btn {
     font-weight: var(--fw-light);
     color: rgb(0, 0, 0);
     background: transparent;
     padding: 1em 2em;
     border: 3px solid var(--primary-400);
     border-radius: 30px;
     cursor: pointer;
 }

 .price-content-2 .price-btn {
     color: var(--primary-400)
 }

 .price-btn:hover {

     color: rgb(255, 255, 255);
 }

 .price-btn:active {
     transform: translateY(2px);
 }

 .card-title {
     height: 20em;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     text-align: left;
     border-top-right-radius: 20px;
     padding: 5em 1em;
     clip-path: polygon(0 0, 100% 0, 110% 100%, -10% 80%);
     background-color: var(--neutral-700);
     background-blend-mode: hard-light;
 }

 .card-title p {
     font-size: 40px;
     font-weight: var(--fw-normal);
     color: rgb(255, 255, 255);
     font-family: var(--ff-secondary);
 }

 .ribbon {
     background-color: var(--primary-400);
     position: absolute;
     z-index: 1;
     top: 25px;
     right: -35px;
     padding: .4em 2em;
     transform: rotate(45deg);
     font-weight: var(--fw-normal);
 }

 .price-area {
     padding: 1em;
     height: 15em;
 }

 .flex_li {
     display: flex;
     align-items: center;
     gap: .2rem;
     padding: 0 0 .5em;
     text-decoration: none;
     line-height: 20px;
     font-weight: var(--fw-light);
 }

 .flex_li>img {
     width: 1rem;
     margin-right: .7rem;
 }

 .price-content .text {
     color: var(--neutral-700);
 }

 .price-content .price {
     color: var(--neutral-700);
 }

 .price-content-2 .text {
     color: var(--primary-400);
 }

 .price-content-2 .price {
     color: var(--primary-400);
 }

 .inner-area {
     display: flex;
     justify-content: center;
     margin-top: 2rem;
     text-align: center;
 }

 .inner-area>.text {
     padding: .8em .3em 0 0;
     font-weight: var(--fw-bolder);
 }

 .inner-area>.price {
     font-size: 40px;
     font-weight: var(--fw-bolder);
     font-family: var(--ff-secondary);
 }

 .price-hidden {
     opacity: 0;
     filter: blur(10px);
     transform: translateX(-100%);
     transition: all 2s;
 }

 .price-show {
     opacity: 1;
     filter: blur(0);
     transform: translateX(0);
 }

 /* TESTIMONIAL-SECTION */

 .testimonial-section>.title {
     width: 70%;
 }

 .feedback-container {
     flex-direction: column;
     position: relative;
     background-color: rgba(148, 254, 201, 0.2);
     width: 35%;
     margin: 5rem 0;
     padding: 4em 0 1em;
     row-gap: 2rem;
 }

 .feedback-container p {
     text-align: center;
     font-weight: var(--fw-light);
     color: rgb(255, 255, 255);
 }

 .user-profile {
     position: absolute;
     top: -15%;
 }

 .user-profile>img {
     width: 7rem;
     border: 18px solid rgb(33, 42, 45);
     border-radius: 50%;
 }

 .quote>img {
     width: 2rem;
 }

 .user-feedback {
     width: 60rem;
 }

 .hr-line {
     width: 15rem;
     margin: 1rem 0;
     border: 1px solid var(--primary-400);
 }

 .user-name {
     font-size: .8rem;
 }

 .rating-container {
     gap: .5rem;
 }

 .ratings {
     font-size: 1.8em;
     color: rgb(255, 255, 255);
 }

 /* NUMBER-SECTION */

 .number-section {
     padding: 0 2em;
     max-width: var(--section-max-width);
     margin: auto;
 }

 .achievement-container {
     background-image: url();
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     height: 100vh;
 }

 .overlay-left {
     background-color: rgba(0, 0, 0, 0.5);
     padding: 1em 2em;
     width: 60%;
     clip-path: polygon(0% 0%, 100% 0%, 70% 100%, 0% 100%);
     height: 100vh;
 }

 .overlay-left>.title {
     width: 65%;
     margin: 0;
 }

 .number-container {
     padding: 2em 5em;
 }

 .number-container>* {
     text-align: center;
     width: 50%;
 }

 .top {
     gap: 10rem;
 }

 .number-container .numbers {
     font-family: var(--ff-secondary);
     font-size: 50px;
     color: var(--primary-400);
 }

 .number-container .captions {
     font-size: 25px;
     font-weight: var(--fw-light);
     color: rgb(255, 255, 255);
 }

 .bottom .captions {
     width: 60%;
     margin: auto;
 }

 /* FOOTER-SECTION */

 .footer-section {
     /* margin-top: 15rem; */
     margin: 15rem auto auto;
     max-width: var(--section-max-width);
 }

 .footer-container {
     gap: 10rem;
 }

 .footer-container>* {
     color: rgb(255, 255, 255);
     font-weight: var(--fw-light);
 }

 .sitemap-container {
     gap: 4rem;
     align-items: flex-start;
 }

 .sitemap-container>* {
     flex-direction: column;
 }

 .sitemap-container li {
     margin-bottom: 1rem;
 }

 .subscribe-container {
     width: 30%;
 }

 .subscribe-container>* {
     margin-bottom: 1rem;
 }

 .email-container {
     gap: 1rem;
 }

 .email-container>* {
     font-weight: var(--fw-normal);
 }

 .email-input {
     padding: .8em 2em;
     border: none;
     width: 60%;
 }

 .email-input::placeholder {
     font-weight: var(--fw-normal);
 }

 .email-submit-btn {
     padding: .8em 2em;
     background-color: var(--primary-400);
     color: rgb(0, 0, 0);
     border: none;
 }

 .email-submit-btn:hover {
     cursor: pointer;
     background-color: rgb(58, 58, 58);
     color: var(--primary-400);
 }

 .email-submit-btn:active {
     transform: translateY(2px);
 }

 .footer-hr-line {
     width: var(--section-max-width);
     margin: 2rem auto;
 }

 .copyright-section {
     position: relative;
 }

 .copyright-container {
     align-items: flex-end;
     gap: 2rem;
 }

 .social-links {
     gap: 2rem;
 }

 .social-icons {
     background-color: var(--primary-200);
     font-size: x-large;
     border-radius: 50%;
     width: 2.5rem;
     height: 2.5rem;
 }

 .footer-logo-container {
     width: 8em;
 }

 .custom-shape-divider-bottom-1690638122 {
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     overflow: hidden;
     line-height: 0;
     z-index: -1;
 }

 .custom-shape-divider-bottom-1690638122 svg {
     position: relative;
     display: block;
     width: calc(180% + 1.3px);
     height: 300px;
 }

 .custom-shape-divider-bottom-1690638122 .shape-fill {
     fill: var(--primary-900);
 }

 .copyright-claims-container {
     margin-top: 1rem;
     width: 80%;
     justify-content: space-between;
     margin: auto;
 }

 .copyright-claims-top,
 .copyright-claims-bottom {
     color: rgb(255, 255, 255);
     font-weight: var(--fw-light);
     margin: 1rem;
 }

 .copyright-claims-bottom {
     display: flex;
     justify-content: space-between;
     gap: 10rem;
 }

 @keyframes stickynav_animation {

     /* 0% {} */
     50% {
         background-color: rgba(87, 89, 90, 0.9);
         backdrop-filter: blur(5px);
     }

     100% {
         background-color: rgba(87, 89, 90, 0.5);
         backdrop-filter: blur(5px);
     }
 }