*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--ff-primary);
}

:root {

    /* section */
    --section-max-width: 1200px;
    --section-padding: 1rem;

    /* colors */
    --primary-200: rgb(14, 137, 231);
    --primary-400: rgb(14, 137, 231);
    --primary-600: rgb(14, 137, 231);
    --primary-800: rgb(14, 137, 231);
    --primary-900: rgb(14, 137, 231);

    --neutral-700: rgb(87, 89, 90);
    --neutral-900: rgb(23, 25, 26);

    /* transitions */
    --transition-1: 200ms ease-in-out;

    /* font-family */
    --ff-primary: 'Montserrat', sans-serif;
    --ff-secondary: 'Playfair Display', serif;

    /* font weight*/
    --fw-lighter: 400;
    --fw-light: 600;
    --fw-normal: 700;
    --fw-bolder: 800;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background: linear-gradient(rgb(20, 20, 20), rgb(23, 23, 23)); */
    background-color: var(--neutral-900);
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
    object-fit: cover;
    display: block;
}

ul {
    list-style: none;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;

}

.bg {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--neutral-700);
    background-blend-mode: hard-light;
}

.hidden {
    opacity: 100;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.section {
    padding: 5em 0;
    margin: auto;
    max-width: var(--section-max-width);
}

.title {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: var(--ff-secondary);
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.title>span {
    background: linear-gradient(var(--primary-600), var(--primary-900));
    border-radius: 5px;
    font-family: var(--ff-secondary);
}

.destination-item {
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 3em 0;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 25px;
    transition: all 2s;
    background-color: var(--neutral-700);
    background-blend-mode: hard-light;
    box-shadow: 0px 5px 10px rgba(119, 115, 115, 0.80);
}

.util-li:hover {
    color: var(--primary-400);
}

/* CUSTOM-SCROLLBAR */

::-webkit-scrollbar {
    width: 12px;
    background-color: var(--neutral-900);
    border: .5px solid var(--neutral-700);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-400);
    border-radius: 6px;
}