.footer_section {
    padding: 2em 2em 1em;
    background-color: rgba(22, 21, 21, 0.95);
    color: rgb(255, 255, 255);
}

.footer_content {
    justify-content: space-evenly;
    padding-bottom: 1em;
}

.footer_logo img {
    width: 9rem;
    height: 8.5rem;
}

.social_media {
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
    line-height: 1.2;
}

.flex_li {
    margin: 1rem 0;
}

.flex_li span {
    font-size: 13px;
    margin-right: .5rem;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 0);
    color: rgb(1, 120, 212);
}

.footer_contact {
    flex-direction: column;
    align-items: flex-start;
    gap: .9rem;
    font-size: 13.5px;
}